<svg
  class="donut-chart"
  [attr.viewBox]="'0 0 ' + viewBoxSize() + ' ' + viewBoxSize()"
  [attr.height]="viewBoxSize()"
  role="img"
  aria-label="Donut chart"
>
  <g [attr.transform]="'translate(' + viewBoxSize() / 2 + ',' + viewBoxSize() / 2 + ') rotate(-90)'">
    <circle class="donut-chart__track" [attr.r]="radius()" [attr.stroke-width]="strokeWidth()" fill="none" />
    @if (!isEmpty()) {
      @for (arc of donutArcs(); track arc.color + arc.dashOffset) {
        <circle
          class="donut-chart__arc"
          [attr.r]="radius()"
          [attr.stroke-width]="strokeWidth()"
          fill="none"
          [attr.stroke-dasharray]="arc.dashArray"
          [attr.stroke-dashoffset]="arc.dashOffset"
          [style.stroke]="arc.color"
        >
          <title>{{ arc.percent.toFixed(1) }}%</title>
        </circle>
      }
    }
  </g>
</svg>
