@let _movement = this.movement();
<div>
  @if (_movement) {
    <div class="movement-card">
      <mat-grid-list cols="12">
        <!-- Icon Category -->
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <div class="circle">
            <mat-icon [fontIcon]="_movement.Category?.Icon ?? iconDefault" />
          </div>
        </mat-grid-tile>

        <!-- Description -->
        <mat-grid-tile [colspan]="6" [rowspan]="2">
          <span>{{ _movement.Description }}</span>
        </mat-grid-tile>

        <!-- Mount -->
        <mat-grid-tile [colspan]="4">
          <span>{{ _movement.Amount | currency }}</span>
        </mat-grid-tile>

        <!-- Icon Details -->
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <mat-icon fontIcon="arrow_forward_ios" />
        </mat-grid-tile>

        <!-- Card -->
        <mat-grid-tile [colspan]="4">
          <span>{{ _movement.Date | date: 'EEEE, d MMM' }}</span>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  }
</div>
